<div id="sidebar">

	<ul>
		<li>
			<a class="" href="#">
				{{ ux_icon('fluent-mdl2:b-i-dashboard', {color: 'white', height: '25', width: '25' }) }}
			</a>
		</li>
		<li>
			<a class="" href="#">
				{{ ux_icon('gravity-ui:math-operations', {color: 'white', height: '25', width: '25' }) }}
			</a>
		</li>
		<li>
			<a class="" href="#">
				{{ ux_icon('carbon:category-new-each', {color: 'white', height: '25', width: '25' }) }}
			</a>
		</li>
		<li>
			<a class="" href="#">
				{{ ux_icon('tabler:contract', {color: 'white', height: '25', width: '25'}) }}
			</a>
		</li>

		<li class="spacer"></li>

		<li>
			<a class="" href="#">
				{{ ux_icon('flat-color-icons:document', {color: 'white', height: '25', width: '25' }) }}
			</a>
		</li>

		<li class="spacer"></li>

		<li>
			<a class="" href="#">
				{{ ux_icon('solar:calendar-bold-duotone', {color: 'white', height: '25', width: '25'}) }}
			</a>
		</li>
		<li>
			<a class="" href="#">
				{{ ux_icon('arcticons:note', {color: 'white', height: '25', width: '25' }) }}
			</a>
		</li>
		<li>
			<a class="" href="#">
				{{ ux_icon('clarity:tasks-line', {color: 'white', height: '25', width: '25' }) }}
			</a>
		</li>
		<li>
			<a class="" href="#">
				{{ ux_icon('arcticons:pomodoro', {color: 'white', height: '25', width: '25' }) }}
			</a>
		</li>
		<li>
			<a class="" href="#">
				{{ ux_icon('noto:brain', {color: 'white', height: '25', width: '25' }) }}
			</a>
		</li>
		<li>
			<a class="" href="#">
				{{ ux_icon('arcticons:habitnow', {color: 'white', height: '25', width: '25' }) }}
			</a>
		</li>



	</ul>


</div>
